@import '../../../colors.scss';

$background-regular: $white;
$background-hover: $white;
$background-selected: $white;
$background-disabled: $light_gray;
$font-regular: $text;
$font-disabled: $gray_secondary_btn_pressed;
$background-processing-start: $background-selected;
$background-processing-end: $background-regular;
$border-regular: $black;
$border-disabled: $gray_secondary_btn_pressed;
$border-width: 1px;
$border-type: solid;