@mixin colors($font_color, $background_color, $border_color) {
    color: $font_color;
    background-color: $background_color;
    border-color: $border_color;
}

@mixin two-colors-gradient($start_color, $end_color, $percent:50%) {
    background: $end_color;
    background: linear-gradient(to right, $start_color 0%, $start_color 50%, $end_color 50%, $end_color 100%);
}