.button {
    color: $font-regular;
    background-color: $background-regular;
    border: $border-width $border-type $border-regular;
}

.button:hover {
    background-color: $background-hover;
}

.button:active {
    background-color: $background-selected;
}

.button:disabled {
    background-color: $background-disabled;
    color: $font-disabled;
    border-color: $border-disabled;
}

.button_processing {
    background: $background-processing-end;
    background: linear-gradient(to right, $background-processing-start 0%, $background-processing-start 50%, $background-processing-end 50%, $background-processing-end 100%);
}