.button {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Oxygen Regular';
    line-height: 18px;
    height: 42px; 
    border-radius: 22px;
    padding-right: 44px;
    padding-left: 44px;

    &:focus {
        outline: 0;
    };

    &::-moz-focus-inner {
        border: 0;
    };
}