
$salmon: #FF3B65;
$salmon_primary_btn_hover: #FF5479;
$salmon_primary_btn_selected: #D93256;

$cyan: #59EDFF;
$selection: #ECF3FC;
$text_selection: #C8DDF6;
$dark_blue: #153754;
$link_blue: #204B6F;

$black: #000000;
$gray_text: #333333;
$text: #414141;
$dark_gray: #888888;
$gray: #BBBBBB;
$gray_input_borders: #CCCCCC;
$gray_secondary_btn_pressed: #BABABA;
$gray_secondary_btn_hover: #D4D4D4;
$light_gray: #EAEAEA;
$light_gray_buttons: #EEEEEE;
$gray_tables_submenu:#F5F5F5;
$lighter_gray:#F2F2F2;
$white: #FFFFFF;
$red: #DD3333;
$green: #73CC1B;
$incorrect: #CC431B;