.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    max-width: 350px;
    z-index: 1;
    border: 0.5px solid #CCC;
}

.collapsed .dropdown-content{
    display: none;
}

.expanded .dropdown-content{
    display: block;
}