$background-regular: #FF3B65;
$background-hover: #FF5479;
$background-selected: #D93256;
$background-disabled: #EAEAEA;
$font-regular: #FFFFFF;
$font-disabled: #BBBBBB;
$background-processing-start: var($background-selected);
$background-processing-end: var($background-regular);
$border-regular: #000;
$border-disabled: #aaa;
$border-width: 0px;
$border-type: solid;