button.styleOne {
    color: brown;
}

.styleTwo {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* button {
    text-decoration: underline;
    text-transform: uppercase;
    background-color: aquamarine;
} */