.dropdown-inline-header {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.dropdown-inline-header:hover {
    text-decoration-line: unset;
}

.expanded .dropdown-inline-header {
    text-decoration-line: unset;
}
