.text_dropdown-header {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    &:hover {
        text-decoration: unset;
    }
    &_expanded {
        text-decoration: unset;
    }
}
