.text_dropdown-header {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    &:hover {
        text-decoration-line: unset;
    }
    &.expanded {
        text-decoration-line: unset;
    }
}