.dropdown-regular-item {
    padding: 5px;
    cursor: pointer;

    &__icon {
        vertical-align: text-bottom;
        height: 17px;
        display: inline-block;
        margin-right: 5px;
    }

    &:hover {
        background-color: #EEEEEE;
    }

    &__remark {
        display: block;
        margin-top: 5px;
    }
}