.dropdown-regular-item {
    padding: 5px;
    cursor: pointer;
    &:hover {
        background-color: #EEEEEE;
    }
    &__remark {
        display: block;
        margin-top: 5px;
    }
}