.dropdown-content {
    background-color: white;
    z-index: 1;
    border: 0.5px solid #CCC;
    
    &_collapsed {
        display: none;
    }
    &_expanded {
        display: block;
    }
}