.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.button-content__icon {
    flex: none;
    height: 18px;
    margin-right: 10px;
}

.butten-content__label {
}
