/* Color schema settings */
.secondary-button {
    --background-regular: #EEEEEE;
    --background-hover: #D4D4D4;
    --background-selected: #BABABA;
    --background-disabled: #F5F5F5;
    --font-regular: #333333;
    --font-disabled: #BBBBBB;
    --background-processing-start: var(--background-hover);
    --background-processing-end: var(--background-regular);
    --border-regular: #000;
    --border-disabled: #aaa;
    --border-width: 0px;
    --border-type: solid;
}