.button_dropdown-header {
    &.collapsed {
        background-image: url('../../../../assets/icons/ico-expand-arrow.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;
        background-size: 15px;
    }

    &.expanded {
        background-image: url('../../../../assets/icons/ico-collapse-arrow.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;
        background-size: 15px;
    }
}